[Desktop Entry]
Name=Tabula
GenericName=Table Extractor
Comment=Tabula: Extract Tables from PDFs
Exec=tabula-server
Icon=${SNAP}/tabula-desktop/tabula.svg
Terminal=true
Type=Application
Categories=Utility;
StartupNotify=true
